/* IMPOSTAZIONI GENERALI */
body {
  background-image: url(../img/sfondo.png);
  background-size: 140%;
  background-repeat: repeat-y;
  background-position: center;
  max-width: 100%;
  margin: 5%;
  font-size: 2vw;
}

/* HEADER */
header {
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgba(109, 179, 242, 1) 0%,
    rgba(84, 163, 238, 1) 50%,
    rgba(54, 144, 240, 1) 51%,
    rgba(30, 105, 222, 1) 100%
  );
  border: 15;
  padding: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.482);
  color: white;
}
nav dl dt > a:visited,
a:link {
  color: white;
}
header img {
  width: 40vw;
  height: auto;
}

/* MAIN */
main {
  background: #fffdfd;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.482);
  font-size: 3vw;
  max-width: 100%;
  padding: 5%;
}

/* ELEMENTI NEL MAIN - ARTICLE */
.evidenzia {
  color: magenta;
}
.code {
  background: lightgrey;
  border: 2px solid gray;
  border-radius: 15%;
}
main iframe {
  max-width: 100%;
}
.centered {
  text-align: center;
}

/* TABELLE */
main table {
  width: 100%;
}
.tabletitle th {
  background: lightskyblue;
}

/* FORM */
.newsletter {
  background: lightgray;
  width: 100%;
}
.newsletter button {
  background-color: blue;
  color: white;
}
/* ELEMENTI NELL' ASIDE */

article dl {
  background: lightgray;
  border: 3px solid gray;
}
.date {
  text-align: right;
}

/* FOOTER */
footer {
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(4deg, rgba(2, 0, 36, 1) 0%, rgba(38, 38, 236, 1) 80%, rgba(0, 212, 255, 1) 100%);
  color: white;
  border: 3px solid gray;
}
footer > a:visited,
a:link {
  color: magenta;
}
