/* IMPOSTAZIONI GENERALI */
body {
  background-image: url(../img/sfondo.png);
  background-size: contain;
  background-repeat: repeat-y;
  max-width: 100%;
  margin: 5%;
  font-size: 2vw;
}
/* HEADER */
header {
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgba(109, 179, 242, 1) 0%,
    rgba(84, 163, 238, 1) 50%,
    rgba(54, 144, 240, 1) 51%,
    rgba(30, 105, 222, 1) 100%
  );
  border: 15;
  padding: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.482);
}
header img {
  width: 40vw;
  height: auto;
}

header nav dt {
  color: #fffdfd;
}

/* MAIN */
main {
  background: #fffdfd;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.482);
  font-size: 3vw;
  max-width: 100%;
  padding: 5%;
}

/* ELEMENTI NEL MAIN - ARTICLE */
.evidenzia {
  color: magenta;
}
.code {
  background: lightgrey;
  border: 2px solid gray;
  border-radius: 15%;
}
main iframe {
  max-width: 100%;
}

/* TABELLE */
main table {
  width: 100%;
}
.tabletitle th {
  background: lightskyblue;
}

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
